<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Todolist</title>
</head>
<body>
    <div class="container" id="app">
        <header>
            <img src="https://play-lh.googleusercontent.com/92xIZAW-mdwucFX1v8kyTXlLVgZfLczHv8XCVOH1tFc0M3cTRI4q9qJLUM96PqCrgWjc" alt="">
        </header>

        <main>           
            <div class="add_todo">
                <h3>Aggiungi una cosa da fare</h3>
                <input 
                    type="text"
                    v-on:keyup.enter="addTodo"
                    v-model="newtodo"
                >
                <button @click="addTodo()">Aggiungi</button>
            </div>

            <div class="todo_list">
                <ul v-if="todos.length > 0">
                    <li v-for="(todo, indice) in todos" @click="lineThrough(indice)" :class="{'done': todo.done}">
                        {{todo.text}}
                        <i @click="removeTodo" class="fa-solid fa-xmark"></i>
                    </li>
                </ul>
                <div v-else>
                    Non ci sono elementi
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>